.reservation {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.reservationLeft img {
    margin-right: 0;
    margin-left: auto;
    display: block
}

.reservationLeft img:first-child {
    margin-bottom: 25px
}

.reservationRight {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end
}

.reservationCenter {
    padding-top: 60px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 150px
}

.reservationForm {
    margin-top: 60px
}

.formControl {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.formControl::-webkit-input-placeholder {
    color: #a5a5a5
}

.formControl::-moz-placeholder {
    color: #a5a5a5
}

.formControl:-ms-input-placeholder {
    color: #a5a5a5
}

.formControl::-ms-input-placeholder {
    color: #a5a5a5
}

.formControl::placeholder {
    color: #a5a5a5
}

.formControl:focus {
    border: 1px solid #efefef;
    -webkit-box-shadow: none;
    box-shadow: none
}

.form-group {
    margin-bottom: 20px
}

.reservationForm .formControl {
    background: 0 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #3d3d3d;
    border-color: #bebebe;
    height: 65px;
    font-size: 21px;
    font-family: 'Bebas Neue', sans-serif
}

.reservationForm .formControl::-webkit-input-placeholder {
    color: #3d3d3d
}

.reservationForm .formControl::-moz-placeholder {
    color: #3d3d3d
}

.reservationForm .formControl:-ms-input-placeholder {
    color: #3d3d3d
}

.reservationForm .formControl:-moz-placeholder {
    color: #3d3d3d
}

.reservationForm .formGroup {
    margin: 15px 0
}

.reservationForm .timepicker a.btn,
.reservationForm .timepicker td span {
    color: #333;
    padding: 0
}

.reservationForm .table-condensed td,
.reservationForm .table-condensed th {
    padding: 0
}

.reservationForm .bootstrap-datetimepicker-widget {
    width: 180px
}

.reservationForm .bootstrap-datetimepicker-widget td span {
    height: 20px;
    line-height: 25px;
    width: auto
}

.reservationForm .bootstrap-datetimepicker-widget td,
.reservationForm .bootstrap-datetimepicker-widget th {
    height: 20px;
    line-height: 25px
}

.reservation .sectionLabel {
    font-size: 25px;
    margin-bottom: 28px;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 8px;
    text-transform: uppercase;
}

.reservation .button {
    margin-top: 15px;
    height: 65px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    width: 100%
}


.sectionTitle {
    font-size: 50px;
    font-weight: 500;
    font-family: 'Alfa Slab One', sans-serif;
    text-transform: uppercase;
    position: relative;
    color: #3d2514;
    margin-bottom: 10px
}

.button {
    background-color: #bf2222;
    border: none;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Alfa Slab One', sans-serif;
    font-size: 17px;
    font-weight: 500;
    padding: 16px 40px;
    line-height: normal;
    display: inline-block;
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}